
main .page {
  .gform_wrapper {
    label {
      font-weight: 500;
      font-family: $font-family-sans-serif;
      font-size: 13px;
      letter-spacing: 2.5px;
      text-transform: uppercase;
    }
    .gform_footer input.button,
    .gform_footer input[type=submit],
    .gform_page_footer input.button,
    .gform_page_footer input[type=submit] {
      @extend .btn;
      @extend .btn-primary;
      font-size: 13px;
      padding: 15px 150px;
    }
    &.gf_browser_chrome .gfield_checkbox li input,
    &.gf_browser_chrome .gfield_checkbox li input[type=checkbox],
    &.gf_browser_chrome .gfield_radio li input[type=radio] {
      margin-top: 0;
    }
    .gfield_radio li label,
    .gfield_checkbox li label {
      margin-left: 8px;
    }

    .field_sublabel_above .ginput_complex.ginput_container label,
    .field_sublabel_above div[class*=gfield_date_].ginput_container label,
    .field_sublabel_above div[class*=gfield_time_].ginput_container label,
    .field_sublabel_below .ginput_complex.ginput_container label,
    .field_sublabel_below div[class*=gfield_date_].ginput_container label,
    .field_sublabel_below div[class*=gfield_time_].ginput_container label {
      font-size: 11px;
      margin-top: 5px;
    }
    .gfield  {
      margin-top: 30px;
    }
    .gfield_required {
      color: $state-danger-text;
      font-size: 16px;
    }
    input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]):not([type="button"]):not([type="image"]):not([type="file"]),
    textarea {
      @extend .form-control;
    }
  }
}



// Media Queries
// --------------------------------------------------

// Large desktop and up
@media (min-width: 1200px) {}

// Desktop to large desktop
@media (min-width: 992px) and (max-width: 1199px) {}

// Tablet to desktop
@media (min-width: 768px) and (max-width: 991px) {}

// Up to tablet
@media (max-width: 767px) {

  .gform_wrapper.gf_browser_chrome .gform_body {
    width: 100% !important;

  }
}

// Up to landscape phone
@media (max-width: 480px) {}
